<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="form-container">
        <form class="context" method="post" action="/agregar-cita">
            <h3>Agendamiento de Citas</h3>

            <label for="Cedula">Número de Documento</label>
            <input type="number" id="Cedula" name="Cedula" required>
            <br>

            <label for="fecha_cita">Fecha de cita médica</label>
            <input type="date" name="fecha_cita" id="fecha_cita" required>
            <br>

            <label for="medico">Médico Especialista</label>
            <select name="medico" id="medico" required>
                <option value="">Seleccione una Especialidad Requerida</option>
                {{#each resultado}}
                <option value="{{Cedula}}">{{Nombres}} {{Apellidos}}</option>
                {{/each}}
            </select>
            <br>

            <input type="submit" value="Enviar" id="Enviar">
        </form>
        <a href="/index.html">Regresar</a>
    </div>
</div>
